.App {
  // border: 1px solid rebeccapurple;
  width: 100%;
  height: auto;
  // padding: 15vh 2.5vw 1vh 2.5vw;
}

.container {
  // border: 1px solid red;
  // display: flex;
  position: relative;
  width: 100%;
  height: auto;
  padding: 5vh 2.5vw 1vh 2.5vw;
  // margin-top: 5vh;
}

.divHolder {
  // border: 1px solid red;
  position: relative;
  width: 100%;
  margin: 4vh 0 4vh 0;
  // padding: 0 2vh 0 4vh;
  height: auto;
}
